* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#map {
  height: 100vh;
  width: 100vw;
}

.UI {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.UI > div {
  width: 200px;
}

.page {
  display: flex;
  flex-direction: row-reverse;
}
